/** @format */
// BEGIN: fade-in-animation
// BEGIN: flip-animation
@keyframes showUp {
  0% {
    top: 100vh;
    width: 0px;
  }
  50% {
    top: 0vh;
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes upAndDown {
  from {
    top: 11.5vh;
  }
  to {
    top: 12.5vh;
  }
}
// img {
//   animation: showUp 2s ease-in-out;
// }
@keyframes flip {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.flip {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.flip:hover {
  transform: rotateX(-180deg);
}
// END: flip-animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lengthen {
  from {
    width: 0%;
  }
  to {
    width: -100%;
  }
}
@keyframes lengthen2 {
  from {
    width: 0%;
  }
  to {
    width: -100%;
  }
}
@keyframes longer {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes leftCloudGo {
  from {
    left: 65vh;
  }
  to {
    left: -10vh;
  }
}
@keyframes leftCloudBack {
  from {
    left: -10vh;
  }
  to {
    left: 65vh;
  }
}

@keyframes rightCloudGo {
  from {
    right: -55vh;
  }
  to {
    right: -5vh;
  }
}

@keyframes rightCloudBack {
  from {
    right: -5vh;
  }
  to {
    right: -55vh;
  }
}
@keyframes midCloudGo {
  from {
    right: -70vh;
  }
  to {
    right: -10vw;
  }
}
@keyframes midCloudBack {
  from {
    right: -10vw;
  }
  to {
    right: 50vh;
  }
}
@keyframes boatBack {
  from {
    left: 15vw;
  }
  to {
    left: -35vh;
  }
}
@keyframes boatGo {
  from {
    left: 65vh;
  }
  to {
    left: 15vw;
  }
}
@keyframes eurekaFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.eurekaFadeOut {
  animation: eurekaFadeOut 0.8s ease-in-out;
}
.boatGo {
  animation: boatGo 1.25s ease-out;
}
.boatBack {
  animation: boatBack 1.25s ease-in;
}
.rightCloudGo {
  animation: rightCloudGo 1.2s ease-out;
}
.rightCloudBack {
  animation: rightCloudBack 1.2s ease-in;
}
.leftCloudGo {
  animation: leftCloudGo 1s ease-out;
}
.leftCloudBack {
  animation: leftCloudBack 1s ease-in;
}
.midCloudGo {
  animation: midCloudGo 1.1s ease-out;
}
.midCloudBack {
  animation: midCloudBack 1.1s ease-in;
}
.longer {
  animation: longer 0.5s ease-in-out;
}
.lengthen {
  animation: lengthen 0.5s ease-in-out;
}
.lengthen2 {
  animation: lengthen2 0.5s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}
.fade-in2 {
  animation: fadeIn 0.5s ease-in-out;
}

// 第一次進入遊戲
// END: fade-in-animation

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 h2 h3 h4 h5 h6 {
  text-decoration: none;
  font-weight: normal;
}

body {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url("../imgs/背景.png");
  background-size: cover;
  display: flex;
  .result {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 3s ease-in-out;
    // .download {
    //   position: relative;
    //   top: 0.5%;
    //   left: 1.5%;
    //   transition: all 4s ease-in-out;
    //   font-family: "Noto Sans TC", arial;
    //   color: rgba(255, 171, 6, 1);
    //   font-size: 1rem;
    //   animation: upAndDown 1s ease-in-out o;
    //   z-index: 5;
    img {
      position: relative;
      transition: all 1s ease-in-out;
      width: 41vh;
      top: 5vh;
      left: 0.5vw;
    }
  }
  main {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    div.eureka {
      div.title {
        display: flex;
        flex-direction: column;
        align-items: center;
        div.top {
          width: 100vw;
          display: flex;
          justify-content: center;
          align-items: end;
          .line {
            width: 3.5rem;
            height: 0;
            border: rgba(241, 236, 225, 0.7) solid 1px;
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            margin-bottom: 0.5rem;
          }
          .rightLine {
            animation-direction: alternate;
          }
        }

        div.middle {
          margin-top: 1rem;
        }

        div.bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          div.longLine {
            width: 15rem;
            height: 0;
            border: rgba(241, 236, 225, 0.7) solid 1px;
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
          }
          div.titleText {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            div {
              font-family: "Noto Sans TC", arial;
              font-size: 25px;
              color: rgba(242, 237, 226, 1);
            }
          }
          div.startBtn {
            &:hover {
              transform: scale(1.2);
            }
            // -webkit-user-select: none;
            // user-select: none;
            position: relative;
            cursor: pointer;
            div.startTitle {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              div.gameStart {
                position: absolute;
                transition: all 1s ease-in-out;
                font-family: "Noto Sans TC", arial;
                font-size: 15px;
                color: rgba(19, 19, 0, 1);
              }
            }
          }
        }
      }
    }

    div.cloud {
      display: flex;
      position: relative;
      img.midCloud {
        position: absolute;
        top: 22vh;
        right: -10vw;
        z-index: 1;
      }
      img.leftCloud {
        position: absolute;
        left: -15vh;
        top: 10vh;
        z-index: -1;
      }
      img.boat {
        position: absolute;
        top: 4vh;
        left: 15vw;
      }
      img.rightCloud {
        position: absolute;
        right: -5vh;
        top: 14vh;
        z-index: 5;
      }
    }
  } //開始畫面

  section.test {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    div.containerTop {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-top: 4.5rem;
      img.subTitle {
        margin-bottom: 2rem;
      }
      div.progressBar {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        div.bar {
          display: flex;
          align-items: center;
          transition: all 0.5s ease-in-out;
          div.circle1 {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: rgba(109, 170, 159, 1);
            animation-play-state: paused;
          }
          div.progLine {
            height: 1.5px;
            width: 19rem;
            border: 1.5px solid rgba(109, 170, 159, 1);
            margin-bottom: 20;
          }
          div.circle2 {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: rgba(109, 170, 159, 1);
          }
        }
        img.wheel {
          transition: all 0.5s ease-in-out;
          position: absolute;
          left: -13px;
        }
      }
    }

    div.containerBottom {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      img.scale {
        position: absolute;
      }
      div.mainPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
        height: 28.5rem;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.25rem;
        div.mainTop {
          width: 100%;
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: center;

          margin-bottom: 0.5rem;

          div.queNum {
            display: flex;
            h1 {
              font-family: "Noto Sans TC", arial;
              font-size: 1.5rem;
              color: rgba(255, 171, 6, 1);
            }
          }
          div.queLine {
            left: -2rem;
            height: 0;
            transform-origin: left;
            border: 1px solid rgba(255, 171, 6, 1);
            margin-bottom: 0.5rem;
          }
        }
        div.queText {
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
          h1 {
            font-weight: lighter;
            padding-left: 0.4rem;
            letter-spacing: 1px;
            line-height: 27px;
            font-size: 1rem;
            overflow: hidden;
            font-family: "Noto Sans TC", arial;
            color: rgba(241, 236, 225, 1);
          }
        }
        .choose {
          transition: all 1s ease-in-out;
          display: flex;
          flex-direction: column;
          position: relative;
          .cho {
            &:hover {
              cursor: pointer;
              background-color: rgba(143, 138, 129, 0.8);
              transform: scale(1.1);
            }
            transition: all 0.5s ease-in-out;
            margin-bottom: 10px;
            display: flex;
            position: relative;

            .eng {
              width: 26px;
              margin-right: 9px;
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              div {
                position: absolute;
                font-weight: lighter;
                color: rgba(241, 236, 225, 1);
                font-family: "Noto Sans TC";

                font-size: 12px;
              }
              div.border {
                transition: all 2s ease-in-out;
                height: 14px;
                width: 26px;
                border: 1px solid rgba(241, 236, 225, 1);
                text-align: center;
                font-weight: lighter;
                color: rgba(241, 236, 225, 1);
                font-size: 12px;
              }
            }
            .choText {
              div {
                width: 225px;
                letter-spacing: 2px;
                line-height: 16px;
                font-weight: lighter;
                color: rgba(241, 236, 225, 1);
                font-family: "Noto Sans TC";
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
